body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.top-bar {
    background-color: #004d00; /* Darker than header */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically */
    padding: 5px 20px; /* Adjusted padding */
}

.top-bar a {
    color: white;
    text-decoration: none;
}

.header {
    background-color: #006400;
    color: white;
    padding: 5px 5px 5px 0; /* Adjusted padding */
    text-align: left; /* Align text to the left */
    display: flex; /* Use flexbox for alignment */
    justify-content: space-between; /* Align items at the ends */
    align-items: center; /* Center align vertically */
}

.header a {
    color: white;
    text-decoration: none;
}

.header h1 {
    margin-left: 20px; /* Add margin to push "My Blog" to the left */
    font-weight: bold; /* Keep "My Blog" bold */
    display: inline-block; /* Ensure "My Blog" and description are inline */
    vertical-align: middle; /* Align vertically */
}

.header span {
    font-size: 14px; /* Adjust font size for the description */
    margin-left: 10px; /* Add spacing between "My Blog" and description */
    font-weight: normal; /* Unbold the description */
}

.nav {
    background-color: #228B22;
    overflow: hidden;
    padding: 0; /* Remove default padding */
}

.nav a {
    float: left;
    display: block;
    color: black; /* Changed to black */
    text-align: center;
    padding: 10px 16px; /* Adjust padding for better spacing */
    text-decoration: none;
    font-weight: bold; /* Added bold */
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}

.container {
    display: flex;
    margin: 20px;
}

.main-content {
    flex: 3;
    padding: 20px;
    background-color: white;
    margin-right: 20px;
}

.sidebar {
    flex: 1;
    padding: 20px;
    background-color: lightgray;
    margin-bottom: 1000px;
}

.footer {
    background-color: #006400;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer-links, .follow-updates {
    float: left;
    width: 30%; /* Adjusted width */
}

.follow-updates {
    margin-right: 5%; /* Add margin to separate sections */
}

.footer-links ul, .follow-updates ul {
    list-style: none;
    padding: 0;
}

.footer-links li, .follow-updates li {
    margin-bottom: 10px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.p {
    border-left: 2px solid green;
    padding-left: 6px;
    line-height: 1.5;
    margin-left: 30px;
}

.p a {
    color: green;
    text-decoration: none;
}

.copyright {
    float: left;
    width: 30%; /* Adjusted width */
}
